* {
    margin: 0;
    pad: 0;
    font-family: papyrus, monospace, sans-serif
}

body {
    position: relative;
    background-color: #643580;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Day9/final_project/IMG/Frankenstien_hero-IMG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 180px;
    padding-bottom: 418px;
}

.contact-hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Day9/final_project/IMG/dracula-theater.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 180px;
    padding-bottom: 418px;
}

.hero-text {
    text-align: center;
}

.blood-h1 {
    color: red;
}

.about-body {
    background-color: #44680d;
}

.body-contact {
    position: relative;
    background-color: #ee6266;
}

.about-hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Day9/final_project/IMG/purple_pumpkin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 180px;
    padding-bottom: 418px;
}

.title {
    font-size: xx-large;
    text-align: center;
    background-color: #f88c4e;
}

.title-contact {
    font-size: xx-large;
    text-align: center;
    background-color: #e5e5e5;
}

.title-about {
    font-size: xx-large;
    text-align: center;
    background-color: #b96d0a;
}

nav {
    background-color: #ffb500;
    width: 100%;
    height: 65px;
}

.nav-contact {
    background-color: #898890;
}

.nav-about {
    background-color: #987f73;
}

.frankenstein {
    height: 50px;
    width: 50px;
    float: left;
    margin:0 0px;
    padding: 5px 0px 0px 0px;
}

.dracula {
    height: 50px;
    width: 50px;
    float: left;
    margin:0 0px;
    padding: 5px 0px 0px 0px;
}

.pumpkin {
    height: 50px;
    width: 50px;
    float: left;
    margin:0 0px;
    padding: 5px 5px 0px 0px;
}

li {
	list-style: none;
}

nav li {
    text-decoration: none;
}

nav ul {
    float: right;
    list-style-type: none;
}

nav ul li {
    font-size: large;
    display: inline-block;
    margin: 15px 25px;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    background-color: #644279;
}

a:visited {
    color: rgb(12, 12, 12);
}

a:active {
    color: limegreen;
}


.containerOne {
    float: left;
    width: 75%;
}

.containerTwo {
    float: right;
    width: 25%;
}

aside {
    background-color: #68aa00;
    height: 665px;
    text-align: center;
    border: 3px solid #000;
}

section, article {
    height: 300px;
    background-color: coral;
    padding: 15px;
    border-style: solid;
}


footer {
    background-color: #21885dfa;
    height: 60px;
    text-align: center;
    border: 3px solid #000;
    clear: both;
    vertical-align: bottom;
}

.contact-footer {
    background-color: #576b7c;
    height: 60px;
    text-align: center;
    border: 3px solid #000;
    clear: both;
    vertical-align: bottom;
}

.about-footer {
    background-color: #643580;
    height: 60px;
    text-align: center;
    border: 3px solid #000;
    clear: both;
    vertical-align: bottom;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #ee6266;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #434349;
  }
  
  .container {
    border-radius: 5px;
    background-color: #ccc4c4;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.contact-h2 {
    text-align: center;
}

.contact-p {
    text-align: center;
}